

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [1]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)



2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [11]:
birth_year = 1995
current_year = 2024
age = current_year-birth_year
age

29



3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [16]:
first_name = "Srija"
middle_name = " "
last_name = "Sinha"
Name = ("My Name is: " + first_name + middle_name + last_name)
Name

'My Name is: Srija Sinha'



4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"

In [18]:
_nation, 1record, record1, record_one, record-one, record^one, continue

SyntaxError: invalid decimal literal (3767480148.py, line 1)