In [1]:
#Dictionary allows to store key,value pairs. For example you want to represent cricket team names with their captain names. For this you can use dictionary


captains = {
    'india': 'virat',
    'pakistan': 'sarfaraz',
    'sri lanka': 'dimuth',
}

type(captains)

dict

In [2]:
captains['india']

'virat'

In [3]:
captains.keys()

dict_keys(['india', 'pakistan', 'sri lanka'])

In [4]:
captains.values()

dict_values(['virat', 'sarfaraz', 'dimuth'])

In [5]:
# Add new key pair value


captains['england']='srija'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'srija'}

In [6]:
del captains['england']

In [7]:
captains

{'india': 'virat', 'pakistan': 'sarfaraz', 'sri lanka': 'dimuth'}

In [8]:

captains['england']='srija'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'srija'}

In [9]:
# Iterate through dictionary on key

for team in captains:
    print(team)

india
pakistan
sri lanka
england

In [10]:
# Iterate through dictionary on key- value

for team in captains:
    print(team,"==>",captains[team])

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> srija

In [11]:
for team, captain in captains.items():
    print(team,"==>",captain)

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> srija

In [12]:
'india' in captains

True

In [13]:
e={}
e['age']=35
e['name']='dhaval'
e['id']=123
e

{'age': 35, 'name': 'dhaval', 'id': 123}

In [16]:
point1=(4,10)
type(point1)



point=(5,16,5)
type(point)

tuple

In [17]:
point[0]

5

In [18]:
point[1]

16

In [19]:
point[0]= 2

TypeError: 'tuple' object does not support item assignment

In [20]:

def add_multiply(a,b):
    total = a+b
    m = a*b
    return total, m

s, m = add_multiply(4,5)
print("s is " f'{s}' " and m is " f'{m}')

s is 9 and m is 20