In [12]:
#To find area of cylinder
def cylinder_volume(radius,height =2):
    print("The radius is",radius)
    print("The height is",height)
    area = 3.14*(radius**2)* height
    return("The ara of cylinder", area)

r = 4
cylinder_volume(radius = r)

The radius is 4
The height is 2

('The ara of cylinder', 100.48)

In [23]:
# Calculate expense sum for two lists without function
bharat_expenses = [20,30,45]
bilal_expenses = [45,67,34]

total = 0
for i in bharat_expenses:
     total+=i
print("The total expense" ,total)

total = 0
for i in bilal_expenses:
     total+=i
print("The total expense" ,total)

The total expense 95
The total expense 146

In [24]:
# Calculate expense sum for two lists by using a function
def find_total(exp):
    total = 0
    for i in exp:
        total+=i
    return total
    
bharat_expenses = [20,30,45]
bilal_expenses = [45,67,34]

bharat_total=find_total(bharat_expenses)
print("Bharat's total:",bharat_total)

bilal_total=find_total(bilal_expenses)
print("Bilal's total:",bilal_total)

Bharat's total: 95
Bilal's total: 146